 <div class="row" id="header-area">
        

        
        <div class="col-sm-12 thumbnail"  style="background-image: url('/images/{{vm.bgimage}}'); background-size: 85%; height: 245px">
            
            <div id="info" class="pull-left" style=" position: relative; left: 0; top: 0px;  padding: 8px; height:  239px; border-radius: 2px 2px 2p; background-color:rgba(0, 0, 0, 0.5);">
                <h1>{{vm.title}}</h1>
                <h3>{{vm.description}}</h3>
            </div>
            <calendar class="thumbnail " style="box-shadow: 1px 1px 1px 1px #ccc; float:right" selected="day" update-calendar="updateCalendar()"></calendar>

    
        </div>
</div>
<hr>

<div class="row">
        <div class="col-sm-8" ng-if="!vm.isViewing" >
   
                <div >
                   
                   <a class="btn btn-success create" ng-click="vm.create()">
                        <i class="glyphicon glyphicon-plus"></i>
                        {{vm.createItemButtonText}}
                    </a>
                    
                    <a href="#" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                          {{vm.deleteItemsButtonText}}
                        <span class="badge">{{rows.length}}</span>
                    </a>
         
                </div>
            </div>
            
             
            <div class=" pull-right">
                    <input class="typeahead form-control" type="text" placeholder="Search foods">

            </div >
            
</div>
        <div>
            

        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="label label-info col-sm-3">Actions</th>                        
                    <th class="label label-info col-sm-2">Date Added</th>

                    <th class="label label-info col-sm-5">Food Name</th>
                    <th class="label label-info col-sm-1">Calories</th>
                    <th class="label label-info col-sm-1">Cholestrol</th>
                    <th class="label label-info col-sm-1">Fiber</th> 
                    <th class="label label-info col-sm-1">Carbs</th>
                    <th class="label label-info col-sm-1">Fat</th>
                    <th class="label label-info col-sm-1">Polyunstaturated fat</th>
                    <th class="label label-info col-sm-1">Monounstaturated fat</th>
                    <th class="label label-info col-sm-1">Sodium</th>
                    <th class="label label-info col-sm-1">Protein</th>

                    <th class="label label-info col-sm-1">Meal Type</th>
                </tr>
            </thead>

             <tbody>
                <tr ng-repeat="row in vm.rows">
                  
                     <th  ng-if-start="!row.isEditing"scope="row"  >
                        <div class="btn-group" role="group" aria-label="...">
                          <a ng-click="vm.details(row, $index)" title="View" class="btn btn-default btn-xs ajax"><i class="glyphicon glyphicon-eye-open"></i></a>
                          <a ng-click="vm.edit(row, $index)" title="Edit" class="btn btn-default btn-xs edit"><i class="glyphicon glyphicon-edit"></i></a>
                          <a ng-click="vm.delete(row, $index)" title="Delete" class="btn btn-default btn-xs delete"><i class="glyphicon glyphicon-trash"></i></a>

                        </div>
                      </th>
                    <td >{{row.created_at}}</td>
                    <td >{{row.foods_name}}</td>
                    <td >{{row.foods_calories}}</td>
                    <td >{{row.foods_cholestrol}}</td>
                    <td >{{row.foods_fiber}}</td> 
                    <td >{{row.foods_carbohydrates}}</td>

                    <td >{{row.foods_fat}}</td>
                    <td >{{row.foods_polyunsaturated_fat}}</td>
                    <td >{{row.foods_monounsaturated_fat}}</td>
                    <td >{{row.foods_sodium}}</td>
                    <td> {{row.foods_protein}}</td>
                   <td ng-if-end>{{row.foodstypes_name}}</td>

                    <td ng-if-start="row.isEditing" class="col-sm-2">
                        <input type="button" value="Save" class="btn btn-primary btn-sm submit" ng-click="vm.save(row, $index)"/>
                        <input type="button" value="Cancel" class="btn btn-default btn-sm submit" ng-click="row.isEditing = false"/>
                    </td>
                    
                    <td> <input type="text" name="created_at" class="form-control" placeholder="Date created" ng-model="row.created_at" disabled/></td>
                    <td> <input type="text" name="foods_name" class="form-control" placeholder="Name" ng-model="row.foods_name" ng-click="vm.search()"/>
                    
                        <ul class="list-group">
                          <li class="list-group-item" ng-repeat="choice in vm.choices" ng-click="vm.choose(choice)">
                              {{choice.fields.item_name}}
                          </li>
          
                        </ul>
                    
                    </td>
                    <td> <input type="text" name="foods_calories" class="form-control" placeholder="Calories" ng-model="row.foods_calories" /></td>
                    <td> <input type="text" name="foods_cholestrol" class="form-control" placeholder="Cholestrol" ng-model="row.foods_cholestrol" /></td>
                    <td> <input type="text" name="foods_fiber" class="form-control" placeholder="Fiber" ng-model="row.foods_fiber" /> 
                    <td> <input type="text" name="foods_carbohydrates" class="form-control" placeholder="Fiber" ng-model="row.foods_carbohydrates" />

                    <td> <input type="text" name="foods_fat" class="form-control" placeholder="polyunsaturated fat" ng-model="row.foods_fat" />
                    <td> <input type="text" name="foods_polyunsaturated_fat" class="form-control" placeholder="polyunsaturated fat" ng-model="row.foods_polyunsaturated_fat" />
                    <td> <input type="text" name="foods_monounsaturated_fat" class="form-control" placeholder="monounsaturated fat" ng-model="row.foods_monounsaturated_fat" />
                    <td> <input type="text" name="foods_sodium" class="form-control" placeholder="Sodium" ng-model="row.foods_sodium" />
                    <td> <input type="text" name="foods_protein" class="form-control" placeholder="Protein" ng-model="row.foods_protein" />

                    </td>
                    <td  ng-if-end> <select name="foodstypes_id" ng-model="row.foodstypes_id"> 
                    
                            <option value =5>Breakfast</option>
                            <option value =6>Lunch</option>
                            <option value =7>Dinner</option>
                            <option value =8>Snack</option>

                        </select></td>
                    
                    <input type="hidden" name="foods_id" ng-model="row.foods_id" />
                    <input type="hidden" name ="users_id" ng-model="row.users_id"/>
                </tr>
                <tr></tr>
                
                <tr>
                    <th></th> 
                    <th></th>
                    <th></th>
                    <th class="col-sm-2 label label-warning">Total Calories</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="col-sm-2 label label-warning">Total Fat</th> 
                    <th></th>
                    <th></th>
                    <th class="col-sm-2 label label-warning">Total Sodium</th>
                </tr>
                
                <tr>
                    <td></td> 
                    <td></td>
                    <td></td>
                    <td>{{vm.totalCals}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{vm.totalFat}}</td>
                    <td></td>
                    <td></td>
                    <td>{{vm.totalSodium}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
