#total-nutrition td{
    
    text-align: center
}
.nutrition-area{
 
     border: 1px solid #ccc;
     border-radius: 4px 4px;  
     
     padding: 8px;
     margin-bottom: 16px;
    
}

.nutrition-area .well{
    
    width: 100%;
    text-align: center;
        background-color: lightBlue;
}

h1{
    
    text-align: center;
    padding: 16px;
}

h2{
    
    text-align: center;
}

.progress{
    
   background-image: none;
    background-color: darkBlue;
  
    
}

.progress-bar span{
    
      padding-left: 8px;
}