table tr{
    
    margin-bottom: 28px;
}



h4, .modal-title{
    
    text-align: center;
}

#banner-area{
    
    background-image: url('/images/fitness-app-banner.jpg'); 
    height: 458px;
    padding: 8px;
    
}

#banner-area #info{
    
    color: #fff;
   
}
#header-area-wrapper{

    margin-top: 64px;
    height: 256px;

}

.calendar{
    
    padding-left: 0;
    padding-right: 0;
        height: inherit;

}

#header-area{
    
     
    height: inherit;
    background-size: 100% 100%;
    
}

#header-area #info{
    
    color: #fff;
    text-align:center;
    box-shadow:  1px #ccc; 
    position: relative;
    left: 0;
    bottom: 15px;

}

.menu{
    
     padding-left: 0;
    padding-right: 0;
    
    
}

.menu-wrapper{
    
    padding: 24px;
    margin-top: 24px;
    box-shadow: 2px 2px 2px 2px #ccc;

}

     
.tt-menu{
 
 background-color: #fff;
 width: 100%;
 padding-left: 4px;
 border-radius: 2px 2px 2px;
}
     
.typeahead{
    
    width: 100%;
    box-shadow: 2px 2px 2px #ccc;
    
}

.content{
    
    padding-left:0;
    padding-right:0;
   
}

.content .panel-heading{
    
    text-align: center;
}

#goals-graph {
    height: 400px; 
    min-width: 310px; 
    max-width: 800px;
    margin: 0 auto;
}

#foods-graph{
    
     height: 400px; 
    min-width: 310px; 
    max-width: 800px;
    margin: 0 auto;
}

.navbar-inverse .navbar-nav>li>a{
    
    color: #fff;
    background-color: #222;
    border-radius: 2px 2px 2px;
    margin-right: 2px;
}

.navbar-inverse .navbar-nav>li>a:hover{
    
 background-color: #fff;
 color: #000;


}

.navbar-inverse .navbar-brand>a:hover{
    
 background-color: #fff;
 color: #000;


}