table tr{
    
    margin-bottom: 28px;
}



h4, .modal-title{
    
    text-align: center;
}

#banner-area{
    
    background-image: url('/images/fitness-app-banner.jpg'); 
    height: 458px;
    padding: 8px;
    
}

#banner-area #info{
    
    color: #fff;
    position: relative;
    top: 144px;
}

#header-area #info{
    
    color: #fff;
    text-align:center;
    box-shadow:  1px #ccc; 
     position: relative;
    left: 240px;
    bottom: 15px;

}


     
.tt-menu{
 
 background-color: #fff;
 width: 100%;
 padding-left: 4px;
 border-radius: 2px 2px 2px;
}
     
.typeahead{
    
    width: 300px;
    box-shadow: 2px 2px 2px #ccc;
    
}