<div class="panel panel-info">
        
                <div class="panel-heading" style="text-align: center;"> 
                    <h2>{{vm.title}}</h2> 
                
                </div>

               <div class="panel-body"><a class="btn btn-success create" ng-click="vm.create()">
                        <i class="glyphicon glyphicon-plus"></i>
                        New User
                    </a>
                    <a href="#" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>
                        Delete All
                        <span class="badge">{{rows.length}}</span>
                    </a>
                </div>
           
           </div>
           
           <div class="panel panel-info">
               

                <div class="panel-heading" style="text-align: center;"> 
                <i class="glyphicon glyphicon-list-alt"></i>
                    <strong>User profiles</strong>
                </div>
           
                    <div class="panel-body">
                        <table class="table table-condensed table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="label label-primary col-sm-2">Actions</th>
                                    <th class="label label-primary col-sm-4">Name</th>
                                    <th class="label label-primary col-sm-1">Age</th>
                                    <th class="label label-primary col-sm-1">Height</th>
                                    <th class="label label-primary col-sm-1">Weight</th>
                                    <th class="label label-primary col-sm-2">Avatar</th>
                                    <th class="label label-primary col-sm-1">Status</th>
                                </tr>
                            </thead>
                           <tbody>
                                <tr ng-repeat="row in vm.rows">
                                  
                                     <th  ng-if-start="!row.isEditing"scope="row">
                                        <div class="btn-group" role="group" aria-label="...">
                                          <a ng-click="vm.details(row, $index)" title="View" class="btn btn-default btn-xs ajax"><i class="glyphicon glyphicon-eye-open"></i></a>
                                          <a ng-click="vm.edit(row, $index)" title="Edit" class="btn btn-default btn-xs edit"><i class="glyphicon glyphicon-edit"></i></a>
                                          <a ng-click="vm.delete(row, $index)" title="Delete" class="btn btn-default btn-xs delete"><i class="glyphicon glyphicon-trash"></i></a>
                                        </div>
                                      </th>
                                    <td >{{row.Name}}</td>
                                    <td >{{row.Age}}</td>
                                    <td >{{row.Height}}</td>
                                    <td >{{row.Weight}}</td>
                                    <td ><img ng-src="{{row.Avatar}}" height="56px" width="56px"/></td>
                                    <td ng-if-end>{{row.Status}}</td>
            
                                    <td ng-if-start="row.isEditing">
                                        <input type="button" value="Save" class="btn btn-primary btn-sm submit" ng-click="vm.save(row, $index)"/>
                                        <input type="button" value="Cancel" class="btn btn-default btn-sm submit" ng-click="row.isEditing = false"/>
                                    </td>
                                    <td> <input type="text" name="Name" class="form-control" placeholder="Name" ng-model="row.Name" /></td>
                                    <td><input type="text" name="Age" class="form-control" placeholder="Age" ng-model="row.Age" /></td>
                                    <td> <input type="text" name="Height" class="form-control" placeholder="Height" ng-model="row.Height" /></td>
                                    <td><input type="text" name="Weight" class="form-control" placeholder="Weight" ng-model="row.Weight" /></td>
                                    <td ><input type="text" name="Avatar" class="form-control" placeholder="Avatar" ng-model="row.Avatar" /></td>
                                    <td ng-if-end><input type="text" name="Status" class="form-control" placeholder="Status" ng-model="row.Status" disabled/></td>
                                   
                                </tr>
                            </tbody>
                        </table>
                        
                    
                    </div>
            </div>