 <!--      ### Tech Stuff ###      -->
      <div class="modal fade" id="myDialog">
        <div class="modal-dialog">
          <div class="modal-content">
            
              <form class="form-horizontal">
                  
                <div class="modal-header" >
                  <a href="?" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
                  
                  <h4 class="modal-title" ></h4>
                </div>
                
                <div class="modal-body">
                    
                    
                    
                    <div>
   
                    </div>

                  <tr
                      <th></th>
                       <input type="hidden" name="id" class="form-control" value="" />   
                   </tr>
                </div>
                     
          
          	<div class="modal-footer">
          		<a href="?" class="btn btn-default" data-dismiss="modal" >Cancel </a>
          		<input type="submit" name="submit" class="btn btn-primary submit" value="Save changes" data-dismiss="modal" ng-click="save"/>
          	</div>
          </form>
          
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->