<div id="header-area-wrapper">
    
    <div class="thumbnail col-sm-8" id="header-area" style="background-image: url('{{vm.bgimage}}');">
        
        <div class="pull-left" id="info">
                    <h1>{{vm.header}}</h1>
                    <h3>{{vm.pageDescription}}</h3>
    
    
            </div>
    </div>
            

    <calendar class="col-sm-4 calendar"  selected="day" update-calendar="updateCalendar()"></calendar>


</div>



<div class="menu-wrapper">
    
 <div class="col-sm-8 menu" ng-if="!vm.isViewing">

        <div>

            <a class="btn btn-success create" ng-click="vm.create()">
                <i class="glyphicon glyphicon-plus"></i> {{vm.createItemButtonText}}
            </a>

            <a href="#" class="btn btn-danger">
                <i class="glyphicon glyphicon-trash"></i> {{vm.deleteItemsButtonText}}
                <span class="badge">{{rows.length}}</span>
            </a>

        </div>

    </div>

  <div class="col-sm-offset-10">
        <input class="typeahead form-control" type="text" placeholder="Search goals">
    </div>

</div>

<hr>




<div>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th class="label label-info col-sm-2">Actions</th>
                <th class="label label-info col-sm-2">Date Added</th>
                <th class="label label-info col-sm-2">Name</th>
                <th class="label label-info col-sm-2">Amount complete</th>
                <th class="label label-info col-sm-2">Accomplished</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in vm.rows">
                <input type="hidden" name="goals_id" class="form-control" placeholder="goals id" ng-model="row.goals_id" />
                <input type="hidden" name="users_id" class="form-control" placeholder="{{row.users_id}}" ng-model="row.users_id" />
                <th ng-if-start="!row.isEditing" scope="row">
                    <div class="btn-group" role="group" aria-label="...">
                        <a ng-click="vm.details(row, $index)" title="View" class="btn btn-default btn-xs ajax"><i class="glyphicon glyphicon-eye-open"></i></a>
                        <a ng-click="vm.edit(row, $index)" title="Edit" class="btn btn-default btn-xs edit"><i class="glyphicon glyphicon-edit"></i></a>
                        <a ng-click="vm.delete(row, $index)" title="Delete" class="btn btn-default btn-xs delete"><i class="glyphicon glyphicon-trash"></i></a>
                    </div>
                </th>
                <td>{{row.created_at}}</td>
                <td>{{row.goals_name}}</td>
                <td>{{row.goals_percentage_complete}}</td>

                <td ng-if-end>{{row.goals_accomplished}}</td>

                <td ng-if-start="row.isEditing">
                    <input type="button" value="Save" class="btn btn-primary btn-sm submit" ng-click="vm.save(row, $index)" />
                    <input type="button" value="Cancel" class="btn btn-default btn-sm submit" ng-click="row.isEditing = false" />
                </td>
                <td>{{row.created_at}}</td>
                <td>
                    <input type="text" name="goals_name" class="form-control" placeholder="Name" ng-model="row.goals_name" />
                </td>
                <td>
                    <input type="text" name="goals_percentage_complete" class="form-control" placeholder="Percentage" ng-model="row.goals_percentage_complete" />
                </td>

                <td ng-if-end>

                     <select ng-model="row.goals_accomplished">
                        <option ng-repeat="item in vm.goalAccomplishedChoices" value="{{item}}">{{item}}</option>
                      </select>
                </td>


            </tr>
        </tbody>
    </table>
</div>
</div>
